<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <h1>Add News</h1>

    <form action="/save" method="POST">
        <label>Title</label><br>
        <input type="text" name="title">

        <br><br>

        <label>Content</label><br>
        <textarea name="content" cols="30" rows="5"></textarea>

        <br><br>

        <label>Excerpt</label><br>
        <textarea name="excerpt" cols="30" rows="5"></textarea>

        <br><br>

        <label>Author name</label><br>
        <input type="text" name="author">

        <br><br>

        <label>Date news</label><br>
        <input type="date" name="news_at">

        <br><br>

        <% if (errors) { %>

            <ul>
                <% for (var i=0;i < errors.length; i++) { %>
                    <li><%= errors[i].msg %></li>
                <% } %>
            </ul>

            <br><br>

        <% } %>

        <button type="submit">Save</button>
    </form>

</body>
</html>