<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="css/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="js/scripts.js"></script>
</head>
<body>
    <h1>Índice de Noticias</h1>

    <a href="http://0.0.0.0:4200/add">Add News</a>

    <br><br><br>

    <% for (var i=0;i < news.length; i++) { %>

        <p>
            <%= news[i].id %> &mdash; <a href="http://0.0.0.0:4200/single"><strong><%= news[i].title %></strong></a>
        </p>

    <% } %>

    <img src="img/demo.jpg" alt="">

</body>
</html>